body{
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400; 
}
h1{
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
}
.container {
    width: 550px;
}
.jumbotron {
    background-image: url();
    padding: 70px;
}
.splash {
    border-bottom: 2px solid black;
}
.alternate {
    background-color: #eee;
}
.btn-success {
    background-color: #64e050;
}