body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:0px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1050px;
  top:869px;
  width:200px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:72px;
  top:150px;
  width:688px;
  height:237px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:200px;
  color:#64E050;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:237px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:360px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:330px;
  top:20px;
  width:140px;
  height:140px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u7 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:595px;
  width:300px;
  height:135px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:135px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1270px;
  top:700px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1270px;
  top:616px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1050px;
  top:550px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1050px;
  top:550px;
  width:200px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1230px;
  top:625px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1230px;
  top:563px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1230px;
  top:785px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1230px;
  top:723px;
  width:585px;
  height:85px;
  font-family:'Yanone Kaffeesatz Bold', 'Yanone Kaffeesatz';
  font-size:72px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:85px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1050px;
  top:713px;
  width:200px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1080px;
  top:563px;
  width:200px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1080px;
  top:723px;
  width:200px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1040px;
  top:540px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:1050px;
  top:550px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:1050px;
  top:710px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  left:1040px;
  top:540px;
  width:700px;
  height:130px;
}
#u0_img.a {
  width:700px;
  height:130px;
}
#u1.a {
  top:57px;
  width:696px;
}
#u2.a {
  left:120px;
  top:220px;
  width:750px;
}
#u2_img.a {
  width:750px;
}
#u3.a {
  width:750px;
}
#u4.a {
  left:120px;
  top:435px;
  width:750px;
}
#u4_img.a {
  width:750px;
}
#u5.a {
  width:750px;
}
#u6.a {
  left:425px;
  top:90px;
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
  left:160px;
  top:590px;
  width:670px;
  height:410px;
}
#u8_img.a {
  width:670px;
  height:410px;
}
#u9.a {
  width:670px;
}
#u10.a {
  left:1220px;
  top:615px;
  width:510px;
  height:42px;
}
#u10_img.a {
  width:510px;
  height:42px;
}
#u11.a {
  width:510px;
}
#u12.a {
  left:1220px;
  top:553px;
  width:510px;
  height:67px;
}
#u12_img.a {
  width:510px;
  height:67px;
}
#u13.a {
  width:510px;
}
#u14.a {
  left:1040px;
  top:860px;
  width:700px;
  height:130px;
}
#u14_img.a {
  width:700px;
  height:130px;
}
#u15.a {
  top:57px;
  width:696px;
}
#u16.a {
  left:1040px;
  top:700px;
  width:700px;
  height:130px;
}
#u16_img.a {
  width:700px;
  height:130px;
}
#u17.a {
  top:57px;
  width:696px;
}
#u18.a {
  left:1220px;
  top:775px;
  width:510px;
  height:42px;
}
#u18_img.a {
  width:510px;
  height:42px;
}
#u19.a {
  width:510px;
}
#u20.a {
  left:1220px;
  top:713px;
  width:510px;
  height:67px;
}
#u20_img.a {
  width:510px;
  height:67px;
}
#u21.a {
  width:510px;
}
#u22.a {
  left:1220px;
  top:935px;
  width:510px;
  height:42px;
}
#u22_img.a {
  width:510px;
  height:42px;
}
#u23.a {
  width:510px;
}
#u24.a {
  left:1220px;
  top:873px;
  width:510px;
  height:67px;
}
#u24_img.a {
  width:510px;
  height:67px;
}
#u25.a {
  width:510px;
}
#u26.a {
  left:1070px;
  top:553px;
  width:110px;
  height:104px;
}
#u26_img.a {
  width:110px;
  height:104px;
}
#u27.a {
  top:44px;
  width:106px;
}
#u28.a {
  left:1070px;
  top:713px;
  width:110px;
  height:104px;
}
#u28_img.a {
  width:110px;
  height:104px;
}
#u29.a {
  top:44px;
  width:106px;
}
#u30.a {
  left:1070px;
  top:873px;
  width:110px;
  height:104px;
}
#u30_img.a {
  width:110px;
  height:104px;
}
#u31.a {
  top:44px;
  width:106px;
}
#u32.a {
  width:700px;
  height:130px;
}
#u33.a {
  left:1040px;
  top:700px;
  width:700px;
  height:130px;
}
#u34.a {
  left:1040px;
  top:860px;
  width:700px;
  height:130px;
}
body.b {  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  left:750px;
  top:379px;
  width:450px;
  height:84px;
}
#u0_img.b {
  width:450px;
  height:84px;
}
#u1.b {
  top:34px;
  width:446px;
}
#u2.b {
  left:120px;
  top:180px;
  width:562px;
  height:142px;
}
#u2_img.b {
  width:562px;
  height:142px;
}
#u3.b {
  width:562px;
}
#u4.b {
  left:120px;
  top:322px;
  width:562px;
  height:57px;
}
#u4_img.b {
  width:562px;
  height:57px;
}
#u5.b {
  width:562px;
}
#u6.b {
  left:351px;
  top:50px;
  width:100px;
  height:100px;
}
#u6_img.b {
  width:100px;
  height:100px;
}
#u7.b {
  top:42px;
  width:96px;
}
#u8.b {
  top:400px;
  width:565px;
  height:268px;
}
#u8_img.b {
  width:565px;
  height:268px;
}
#u9.b {
  width:565px;
}
#u10.b {
  left:866px;
  top:427px;
  width:328px;
  height:27px;
}
#u10_img.b {
  width:328px;
  height:27px;
}
#u11.b {
  width:328px;
}
#u12.b {
  left:866px;
  top:423px;
  width:328px;
  height:12px;
}
#u12_img.b {
  width:328px;
  height:12px;
}
#u13.b {
  width:328px;
}
#u14.b {
  left:750px;
  top:585px;
  width:450px;
  height:84px;
}
#u14_img.b {
  width:450px;
  height:84px;
}
#u15.b {
  top:34px;
  width:446px;
}
#u16.b {
  left:750px;
  top:482px;
  width:450px;
  height:84px;
}
#u16_img.b {
  width:450px;
  height:84px;
}
#u17.b {
  top:34px;
  width:446px;
}
#u18.b {
  left:866px;
  top:530px;
  width:328px;
  height:27px;
}
#u18_img.b {
  width:328px;
  height:27px;
}
#u19.b {
  width:328px;
}
#u20.b {
  left:866px;
  top:542px;
  width:328px;
  height:15px;
}
#u20_img.b {
  width:328px;
  height:15px;
}
#u21.b {
  width:328px;
}
#u22.b {
  left:866px;
  top:633px;
  width:328px;
  height:27px;
}
#u22_img.b {
  width:328px;
  height:27px;
}
#u23.b {
  width:328px;
}
#u24.b {
  left:866px;
  top:594px;
  width:328px;
  height:67px;
}
#u24_img.b {
  width:328px;
  height:67px;
}
#u25.b {
  width:328px;
}
#u26.b {
  left:769px;
  top:387px;
  width:71px;
  height:67px;
}
#u26_img.b {
  width:71px;
  height:67px;
}
#u27.b {
  top:26px;
  width:67px;
}
#u28.b {
  left:769px;
  top:490px;
  width:71px;
  height:67px;
}
#u28_img.b {
  width:71px;
  height:67px;
}
#u29.b {
  top:26px;
  width:67px;
}
#u30.b {
  left:769px;
  top:594px;
  width:71px;
  height:67px;
}
#u30_img.b {
  width:71px;
  height:67px;
}
#u31.b {
  top:26px;
  width:67px;
}
#u32.b {
  width:700px;
  height:130px;
}
#u33.b {
  left:1040px;
  top:700px;
  width:700px;
  height:130px;
}
#u34.b {
  left:1040px;
  top:860px;
  width:700px;
  height:130px;
}
